
<div class="info-footer-div">
	<div class="first-part">
		<div class="nav-div">
			<h3>Kurslar</h3>
			<nav>
				<a>Dizayn</a>
				<a>Proqramlaşdırma</a>
				<a>Kibertəhlükəsizlik</a>
				<a>Uşaqlar üçün kompüter kursları</a>
				<a>Tətillər</a>
			</nav>
		</div>
		<div class="nav-div">
			<h3>IT Step haqqında</h3>
			<nav>
				<a>Akademiya haqqında</a>
				<a>Rəylər</a>
				<a>Əlaqə</a>
				<a>Blog</a>
				<a>Vakansiyalar</a>
			</nav>
		</div>
		<div class="nav-div">
			<h3>Əlaqə</h3>
			<nav>
				<a>Koroğlu Rəhimov 70</a>
				<a>(012) 599 11 59</a>
				<a>sale_baku</a>
				<a>10:00-18:00 (b.e-ş)</a>
			</nav>
		</div>
	</div>
	<div class="second-part">
		<p>© 1999-2024 STEP IT Academy</p>
		<nav class="media-links">
			<a class="facebook-link"></a>
			<a class="instagram-link"></a>
			<a class="youtube-link"></a>
		</nav>
	</div>
</div>