

	<a asp-controller="Home" asp-action="Index">
	<img class="header-logo" src="https://fsx3.itstep.org/api/v1/files/XlNHbfS0RU_exefWDWAnrdXMR5AXEpRT" />
	</a>
	<nav class="header-nav-bar">
		<a asp-controller="Home" asp-action="Bloq">Bloq</a>
		<a asp-controller="Home" asp-action="Elaqe">Elaqe</a>
	</nav>
	<div class="header-contact-langugage">
		<div>Baki</div>
		<div>AZ</div>
		<div class="contact-number">(012) 599 11 59</div>
	</div>
