<div class="banner">
	<div class="banner-content">
	<h1 class="banner-title">STEP IT Academy</h1>
		<h2 class="banner-subtitle">
			Missiyamız: tələbələrimizin gələcək uğurlarının əsasını qoymaq üçün keyfiyyətli və bazarda tələb olunan təhsil
		</h2>
	</div>
</div>