


<div class="for-adults-container">
	<h1 class="for-adults-h1">Böyüklər üçün təhsil</h1>
	<nav class="lessons-nav-links">
		<a >
			<div class="design-link-div">
				<h1>Dizayn</h1>
				<h2>1 kurs</h2>
			</div>
		</a>
		<a>
			<div class="programming-link-div">
				<h1>Proqramlaşdırma</h1>
				<h2>2 kurs</h2>
			</div>
		</a>
		<a>
			<div class="cyber-security-link-div">
				<h2>Kibertəhlükəsizlik</h2>
				<h2>1 kurs</h2>
			</div>
		</a>
	</nav>
</div>
